@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: ;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #1B1C57;
    font-family: 'Work Sans',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;    
}
.btn_sdl{
    display: flex;
    padding: 15px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background: #1B1C57;
}
.btn_sdl p{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
}
.open_menu{
    display: none;
}